@font-face {
  font-family: 'PluginIcon';  /* project id 1673542 */
  src: url('//at.alicdn.com/t/font_1673542_sgh4ex4jdze.eot');
  src: url('//at.alicdn.com/t/font_1673542_sgh4ex4jdze.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1673542_sgh4ex4jdze.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1673542_sgh4ex4jdze.woff') format('woff'),
  url('//at.alicdn.com/t/font_1673542_sgh4ex4jdze.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1673542_sgh4ex4jdze.svg#PluginIcon') format('svg');
}
