.platform-dialog-vertical-middle {
  height: 90vh;
}

.el-dialog {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  .el-dialog__header {
    padding: 40px 40px 10px;

    .el-dialog__title {
      font-size: 28px;
      color: $--color-text-primary;
      font-weight: bold;
      flex: 0 0 auto;
    }

  }

  .el-dialog__body {
    flex: 1;
    padding: 22px 40px 0 40px;
    overflow: hidden;
  }

  .el-dialog__footer {
    padding: 10px 20px 20px;
  }

}
